<!-- PUT TOP BAR (SIGN UP / LOGIN / EXPLORE)-->
<% provide(:title, "Synth | socialupvoteblog")%>
<h1>TOP BAR</h1>

<div ng-app="splash">
  <div class="view-container">
    <!-- SHOULDNT NEED ANOTHER ROUTE FOR THIS ACTUALLY MAYBE BECAUSE COULD FILL WITH EXPLORE WITH DIFFERENT TOP BAR VERY SICK -->
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>