<!-- PUT TOP BAR (SIGN UP / LOGIN / EXPLORE)-->
<h1>TOP BAR</h1>
<% provide(:title, "Synth | socialupvoteblog")%>

<div ng-app="synth">
  <div class="view-container">
    <!-- SHOULDNT NEED ANOTHER ROUTE FOR THIS ACTUALLY MAYBE BECAUSE COULD FILL WITH EXPLORE WITH DIFFERENT TOP BAR VERY SICK -->
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>