<% provide(:title, "Synth | socialupvoteblog")%>
<div ng-app="splash">
  <div id="top-bar" ng-controller="RouteController">
    <h1><a href ng-click="route('splash')">SYNTH</a></h1>
    <nav>
      <h3><a href ng-click="route('login')">login / sign up</a></h3>
      <h3><a href ng-click="route('explore')">explore</a></h3>
    </nav>
  </div>

  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>

</div>