#drafts{
  width: 45%;
  float: left;
}
.synth-box{
  padding-bottom: 1em;
  border-top: 1px solid #222;
}

#bookmarks{
  width: 45%;
  float: right;
}

#compose-box{
  position: absolute;
  top: 100px;
  left: 20px;
  height: 80%;
  width: 30%;
}

#compose-box input{
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#compose-box textarea{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: 1em;
}

.button{
  text-align: center;
  display: inline-block;
  width: 40%;
  border-radius:6px;
  color: #111;
  font-family: 'Raleway';
  font-size: 20px;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,.3);
}
.button:hover{
  border: 1px solid rgba(0,0,0,0);
  color: #fff;
  background-color: #AA1E1E;
}


#preview-box{
  position: absolute;
  top: 110px;
  right: 20px;
  width: 60%;
  min-height: 80%;
}

#post-preview-title{
  display: block;
  right: 20px;
  width: 60%;
  font-family: 'Josefin Sans', 'Open Sans', verdana, arial, helvetica, sans-serif;
  font-size: 300%;
  margin: .2em 0 .5em 0;
}

#md-preview{
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

#md-preview h1{
  font-family: 'Josefin Sans', 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 20px auto;
  width: 95%;
  font-size: 240%;
  line-height: 1.2em;
}

#md-preview h2{
  font-family: 'Raleway', 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 10px auto;
  width: 95%;
  font-size: 2.5em;
  line-height: 1.2em;
}

#md-preview h3{
  font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 10px auto;
  width: 95%;
  font-size: 1.5em;
  line-height: 1.2em;
}

#md-preview p{
  font-family: "Open Sans", sans-serif;
  margin: 20px auto;
  width: 95%;
  font-size: 70%;
  line-height: 1.4;
}

@media (min-width: 400px) {
  #md-preview p{ width: 100%; font-size: 75%; }
  #md-preview h1, #post-title{ width: 90%; font-size: 250%;}
  #md-preview h2 { width: 90%; font-size: 230%;}
}
@media (min-width: 700px) {
  #md-preview p{ width: 90%; font-size: 90%; }
  #md-preview h1, #post-title{ width: 90%; font-size: 270%; }
  #md-preview h2 { width: 90%; font-size: 240%;}
}
@media (min-width: 850px) {
  #md-preview p{ width: 85%; font-size: 100%; }
  #md-preview h1, #post-title{ width: 85%; font-size: 280%; }
  #md-preview h2 { width: 85%; font-size: 250%;}
}
@media (min-width: 1000px) {
  #md-preview p{ width: 80%; font-size: 110%; }
  #md-preview h1, #post-title{ width: 80%; font-size: 290%; }
  #md-preview h2 { width: 80%; font-size: 260%;}
}
@media (min-width: 1100px) {
  #md-preview p{ width: 80%; font-size: 115%;}
}
@media (min-width: 1450px) {
  #md-preview p{ width: 70%; font-size: 125%; }
  #md-preview h1, #post-title{ width: 70%; font-size: 310%; }
  #md-preview h2 { width: 70%; font-size: 280%;}
}
@media (min-width: 1950px) {
  #md-preview p{ width: 60%; font-size: 125%; }
  #md-preview h1, #post-title{ width: 60%; font-size: 330%; }
  #md-preview h2 { width: 60%; font-size: 300%;}
}