#user-menu{
  background-color: #f1f1ee;
  position: fixed;
  top: -75px;
  right: 0;
  width: 14em;
  padding: .6em .6em .6em .6em;
  border-radius: 4px;
  z-index: 9;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
}

#user-menu a{
  display: block;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
  font-family: 'Raleway', 'Open Sans', verdana, arial, helvetica, sans-serif;
  background-color: rgba(0,0,0,0);
  border-radius:14px;
  color: #111;
  font-size: 1.3em;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-transition: .3s;
  transition: .3s;
}

#user-menu a:hover {
  border: 1px solid rgba(0,0,0,0);
  color: #fff;
  background-color: #AA1E1E;
}

#post-feed{
  width: 90%;
}

.feed-posts{
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.post-box{
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}

.square-crop{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #bbb;
}

.post-box img{
  display: inline-block;
  vertical-align: middle;
}
.post-box p{
  display: inline-block;
  width: 70%;
}

.preview-text{
  padding: 30px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  color: #555;
}
.preview-text:hover{
  color: #555;
}
.preview-text span:hover{
  -webkit-transition: .3s;
  transition: .3s;
  color: #AA1E1E;
}

.feed-posts a{
  text-decoration: none;
}

.feed-posts h2 a{
  color: #AA1E1E;
  text-decoration: none;
  padding: 8px 10px 3px 5px;
}
.feed-posts h2 a:hover{
  color: #fff;
}

.read-button{
  text-decoration: underline;
  float: right;
}
.post-controls{
  padding-top: 40px;
  vertical-align: top;
  width: 20%;
  display: inline-block;
}
.post-controls p{
  font-family: 'Raleway', 'Open Sans', verdana, arial, helvetica, sans-serif;
  text-align: center;
  padding: 0 5px 0 5px;
  margin: 5px;
  width: 100%;
  min-width: 100px;
  height: 50%;
  line-height: 2.5em;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}
.post-controls p:hover{
  border: 1px solid rgba(0,0,0,0);
  color: #fff;
  background-color: #AA1E1E;
}