#post-title{
  font-family: 'Josefin Sans', 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 20px auto;
  width: 95%;
  font-size: 240%;
  line-height: 1.2em;
}

#post-author{
  margin: 20px auto;
  width: 95%;
}

#post-content{
  width: 100%;
}

#post-content h1{
  font-family: 'Josefin Sans', 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 20px auto;
  width: 95%;
  font-size: 240%;
  line-height: 1.2em;
}

#post-content h2{
  font-family: 'Raleway', 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 10px auto;
  width: 95%;
  font-size: 2.5em;
  line-height: 1.2em;
}

#post-content h3{
  font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
  margin: 10px auto;
  width: 95%;
  font-size: 1.5em;
  line-height: 1.2em;
}

#post-content p{
  font-family: "Open Sans", sans-serif;
  margin: 20px auto;
  width: 95%;
  font-size: 70%;
  line-height: 1.4;
}

@media (min-width: 400px) {
  #post-content p{ width: 90%; font-size: 75%; }
  #post-content h1, #post-title{ width: 90%; font-size: 250%;}
  #post-author, #post-content h2 {width: 90%;}
  #post-content h3{ width: 105%;}
}
@media (min-width: 700px) {
  #post-content p{ width: 80%; font-size: 90%; }
  #post-content h1, #post-title{ width: 90%; font-size: 270%; }
  #post-author, #post-content h2 {width: 90%;}
}
@media (min-width: 850px) {
  #post-content p{ width: 75%; font-size: 100%; }
  #post-content h1, #post-title{ width: 85%; font-size: 280%; }
  #post-author, #post-content h2 {width: 85%;}
}
@media (min-width: 1000px) {
  #post-content p{ width: 70%; font-size: 110%; }
  #post-content h1, #post-title{ width: 80%; font-size: 290%; }
  #post-author, #post-content h2 {width: 80%;}
}
@media (min-width: 1100px) {
  #post-content p{ width: 70%; font-size: 115%;}
}
@media (min-width: 1450px) {
  #post-content p{ width: 60%; font-size: 125%; }
  #post-content h1, #post-title{ width: 70%; font-size: 310%; }
  #post-author, #post-content h2 {width: 70%;}
}
@media (min-width: 1950px) {
  #post-content p{ width: 50%; font-size: 125%; }
  #post-content h1, #post-title{ width: 60%; font-size: 330%; }
  #post-author, #post-content h2 {width: 60%;}
}