#login-slider{
  background-color: #f1f1ee;
  position: absolute;
  top: -190px;
  right: 0;
  width: 15em;
  padding: 1em 1em 1.2em 1em;
  border-radius: 4px;
  letter-spacing: .1em;
  z-index: 9;
    -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
}
#login-slider input.red{
  color: #AA1E1E;
}

/*.splash-view.ng-enter,
.splash-view.ng-leave{
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opcaity: 0;
}

.splash-view.ng-enter.ng-enter-active{
  opacity: 1;
}

.splash-view.ng-leave.ng-leave-active{
  opacity: 0;
}*/

.center-wrap{
  position: absolute;
  width: 70%;
  text-align: center;
}

#splash-div{
  padding-top: 20%;
  display: inline-block;
  text-align: center;
}

#splash-div h2{
  margin-bottom: 20px;
}

#splash-div a{
  line-height: .3em;
  display: block;
  text-decoration: none;
  border: 1px solid #111;
  border-radius: 18px;
  margin-bottom: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

#splash-div a:hover {
  color: #fff;
  border: 1px solid rgba(0,0,0,0);
  background-color: #AA1E1E;
}

.form-input.ng-invalid.ng-touched{
  border: 1px solid red;
}

#signup-form{
  display: inline-block;
  width: 50%;
}

#signup-form .form-submit{
  margin-top: 20px;
  width: 100%;
}

#error-messages{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

